.cards-wrapper{
  width: 90%;
  margin:auto
}

.cards-headers {
  display: flex;
  justify-content: space-between;
  align-items:center; 
  margin-top: 40px;
}

.btn-add-employee.mobile {
  border-radius: 100%;
  font-size: 21px;
  height: 25px;
}

.circle{
  border:1px solid #577BF9  ;
  background-color:#577BF9;
  width:20px;
  height:20px;
  border-radius:100%;
  position:relative;
  margin:4px;
  display:inline-block;
  vertical-align:middle;
  cursor: pointer;
}
.circle.plus:before,
.circle.plus:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    right: 2px;
    bottom: 3px;
    background:#fff;
}
.circle.plus:before{
    width: 2px;
    margin: 2px auto;
    border-radius: 25%;
}
.circle.plus:after{
    margin: auto 2px;
    height: 2px;
    border-radius: 25%;
}

.cards{
  display: flex;
  flex-direction: column;
}

.card{
  margin: 20px;
  box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
  display: flex;
  justify-content: space-between;
  padding:15px;
  text-align: start;
  /* flex-direction: ; */
}


@media (min-width: 480px) {
  .cards-wrapper {
      width: 80%;
  }
}
